[Desktop Entry]
Type=Application
Name=Sonora
GenericName=Music Player
Comment=A native music streaming client, built with Rust and GPUI
Icon=sonora
Exec=sonora %u
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;spotify;audio;player;
MimeType=x-scheme-handler/spotify;
StartupWMClass=sonora
StartupNotify=true
